@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:wght@400;700&display=swap');

:root{
    --white: #FFFFFF

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*              NAV             */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 35px;
    background-color: dimgrey;
    position: fixed;
    z-index: 3;
}

nav p{
    color: white;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 10px;
}

#pick-show-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: dimgray;
    color: white;
    border: solid 1px white;
    padding: 0 25px;
    cursor: pointer;
}

#pick-show-button:hover{
    background-color: white;
    color: black;
    letter-spacing: 3px;
}

/*              MAIN                */

main{
    display: flex;
    justify-content: center;
}

#image-con{
    width: 40%;
    margin-top: 65px;
}

#image-con img{
    width: auto;
    height: 93%;
    position: fixed;
    z-index: 0;
}

.info-con{
    width: 60%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 45px;
    background-color: white;
    margin-top: 65px;
    z-index: 2;
}

.info-con h2{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
}

.info-con p{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}

#watch-now{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
    color: black;
    text-decoration: none;
    border: solid 1px black;
    width: 300px;
    padding: 15px 25px;
    cursor: pointer;
}

#watch-now:hover{
    background-color: dimgray;
    color: white;
    letter-spacing: 3px;
    width: 350px;
    border: none;
}



@media screen and (max-width: 1024px) {
    nav{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 15px 0;
    }

    main{
        flex-direction: column;
    }

    #image-con{
        width: 100%;
    }

    #image-con img{
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 60px;
    }

    .info-con{
        width: 100%;
        height: auto;
        min-height: auto;
        padding: 45px;
        margin-top: 0;
    }

}